{% extends "layout.html" %}
{% block content %}
    <h1>{{title}}</h1>
    <div class="m-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">About Pulse of the Land</h5>
                  <p class="card-text"><strong>Pulse of the Land</strong> tracks topics and sentiment across cities and states in 
                      the USA based on posts from over 280 city and state subreddits with a minimum membership of 1,000 and 
                      population over 50,000. It also takes into
                      account population and income data from the census. The overall score listed for each location ranges
                      from 50 to 100, similar to what one might receive in school and is based on a custom metric developed
                      using weighted factors for income, population and sentiment.
                      For more information check out the GitHub repo <a href="https://github.com/abalone23/pulseoftheland">here</a>.

                  </p>
                  <p class="card-text">Feedback and questions may be sent to pulseofthelandapp [at] gmail.com</p>
                </div>
            </div>
            </div>
{% endblock content %}