{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <h1>{{ keyword_spaces }}</h1>
    <table class="table">
        <thead><th>Location</th><th>Population</th><th>Median Income</th><th>Sentiment</th><th>Score</th><th>Topic</th></th></thead>
        <tbody>
        {% for k in kw_info %}
            <tr><td nowrap><a href="/loc/{{ k[2] }}/{{ k[1] }}.html">{{ k[0] }}, {{ k[4] }}</a></td>
                <td style="padding-right: 10px; text-align: right;">{{ '{0:,}'.format(k[5]) }}</td>
                <td>${{ '{0:,}'.format(k[6]) }}</td>
                <td style="padding-right: 10px; text-align: center;">                        
                    {% if k[7] == 'pos' %}
                        <span style='font-size:26px;'>&#128512;</span>
                    {% elif k[7] == 'neg' %}
                        <span style='font-size:26px;'>&#128533;</span>
                    {% else %}
                        <span style='font-size:26px;'>&#128528;</span>
                    {% endif %}</td>
                    <td>
                        {% if k[8] > 75 %}
                            <button type="button" class="btn btn-success"><span class="badge badge-light">{{ k[8] | safe }}</span></button></td>
                        {% elif k[8] > 65 %}
                            <button type="button" class="btn btn-warning"><span class="badge badge-light">{{ k[8] | safe }}</span></button></td>
                        {% else %}
                            <button type="button" class="btn btn-danger"><span class="badge badge-light">{{ k[8] | safe }}</span></button></td>
                        {% endif %}
                    </td>                
                {% if k[3] == 'Topic' %}
                    <td width="100%">&nbsp;</td></a></td>
                {% else %}
                    <td width="100%"><a href="/topics/{{ k[3] }}.html">{{ k[3] }}</td></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}